/* Universal */
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Root*/
:root {
    --clr-main: #65DEDE;
    --clr-accent: #DE6565;
    --clr-white: #FFFFFF;
    --clr-light: #F6F5F3;
    --clr-medium: #5A5D6E;
    --clr-dark: #1C1D22;
}

/* General */
.body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Typography */

/* Logo */
.logo {
    background-color: var(--clr-main);
}

.logo__img {
    align-self: flex-start;
    padding: 1rem;
    width: 150px;
    height: auto;
}

/* Header */
.header {
    background-color: var(--clr-main);
    border-radius: 0 0 30px 30px;
}

.header__text {
    padding: 2rem;
    color: var(--clr-white);
}

/* Main */
.main {
    justify-content: flex-start;
    flex: 2;

}
.form {
    padding: 2rem 0;
    text-align: center;
}

.form__options {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form__dropdown {
    background-color: var(--clr-light);
    width: 292px;
    height: 62px;
    padding: .5em;
    margin-bottom: 1rem;
    border: none;
    border-radius: 6px;
    outline: none;
    font-size: 1rem;
}

/* Search button */
.search-btn {
    background-color: var(--clr-main);
    width: 4rem;
    height: 4rem; 
    padding: 1.4em;
    border: none;
    border-radius: 50%;
}

.search-btn:hover {
    opacity: .8;
}

/* Results */
.result {
    align-items: flex-start;
    justify-content: space-between;
    flex: 1;

}
.result__visual {
    padding: 2rem;
    transition: all .5s linear;
}

.result__textarea {
    background-color: var(--clr-light);
    border-radius: 30px 30px 0 0;
    width: 100%;
    padding: 2rem;
}


/* Journey */
.result__marker {
    background-color: transparent;
    z-index: 1;
    width: 1.2rem;
    height: 1.2rem;
    aspect-ratio: 1 / 1;
    margin-right: .5em;
    border: 4px solid var(--clr-accent);
    border-radius: 50%;
}

.result__point {
    display: flex;
}

.result__line {
    border-left: 6px solid var(--clr-dark);
    height: 30vh;
    position: relative;
    z-index: 0;
    margin-left: 6px;
    left: 0;

}

/* Reset button */
.reset-btn {
    background-color: var(--clr-accent);
    font-size: 1rem;
    padding: 1.2em 2.2em;
    margin-top: 1rem;
    border: none;
    border-radius: 30px;
    color: var(--clr-white);
    align-self: flex-start;
}

.reset-btn:hover{
    opacity: .8;
}

.hidden {
    display: none;
}

