/* Universal */

/* Root*/
:root {
    --clr-main: #65DEDE;
    --clr-accent: #DE6565;
    --clr-white: #FFFFFF;
    --clr-light: #F6F5F3;
    --clr-medium: #5A5D6E;
    --clr-dark: #1C1D22;
}

/* General */
.hidden {
    display: none;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    line-height: 1.6;
    font-size: 1rem;
} */

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

/* Typography */

header {
    width: 100%;
}

/* Header */
.show-header {
    justify-content: space-between;
    border-radius: 0 0 20px 20px;
    color: var(--clr-white);
    background-color: var(--clr-main);
    flex: 1.2;
}

.hide-header {
    background-color: var(--clr-white);
    flex: 0;
}

.header__content {
    padding: 1em;
    text-align: center;
}


.logo__img {
    width: 150px;
    height: auto;
    align-self: flex-start;
}

/* Main */
.main {
    width: 100%;
    height: 100%;
    flex: 2;
}

/* Form */

form {
    height: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.form__options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.select {
    background-color: var(--clr-light);
    width: 80%;
    margin: .5em 0;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    padding: 1em .5em;
}

.submit-btn {
    background-color: var(--clr-main);
    width: 4rem;
    height: 4rem; 
    padding: 1.4em;
    border: none;
    border-radius: 50%;
}

.submit-btn:hover {
    opacity: .8;
}


/* Journey  */
.journey {
    position: relative;
    height: 100%;
}

.jvisual-container {
    margin: 1em;
    position: relative;
}

.jv__line {
   background-color: var(--clr-dark);
   position: absolute;
   z-index: 1;
   left: calc(20% - 1px);
   width: 6px;
   top: 0;
   animation: top-to-bottom 1s linear forwards;
}

.jv__line:after{
    bottom: 0;
}

@keyframes top-to-bottom {
    0% {
        height: 0;
        transform: translateX(0);
    }

    100% {
        height: 100%;
        transform: translateX(100%);
    }
}

.jv__content {
    margin: 50px 0;
    padding: 1em;
}

 .jv__marker {
    background-color: var(--clr-white);
    border: 4px solid var(--clr-accent);
    position: absolute;
    display: block;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    z-index: 2;
    transform: translateX(-50%);
    animation: left-to-right 1s linear forwards;

} 

.jv__station {
    position: relative;
    width: 50%;
    margin-left: 1em;
    animation: left-to-right 1s linear forwards;
}

@keyframes left-to-right {
    0% {
        opacity: 0;
        left: 0;
    }

    100% {
        opacity: 1;
        left: calc(20% + 8px);
    }
}

.j-textbox {
    z-index: 2;
    border-radius: 20px 20px 0 0;
    background-color: var(--clr-light);
    padding: 1em 2em;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Reset button */
.reset-btn {
    background-color: var(--clr-accent);
    font-size: 1rem;
    padding: .8em 1.8em;
    margin-top: 1rem;
    border: none;
    border-radius: 30px;
    color: var(--clr-white);
}

.reset-btn:hover{
    opacity: .8;
}

