@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Montserrat:wght@400;600;700&display=swap');

/* Overall */
:root {
    --clr-main: #65DEDE;
    --clr-accent: #DE6565;
    --clr-white: #FFFFFF;
    --clr-light: #F6F5F3;
    --clr-medium: #5a5d6e;
    --clr-dark: #1C1D22;
    --clr-medium-shadow: rgba(90, 93, 110, .15);
    --fs-h1: clamp(2rem, 3vw + 1rem, 2.8rem);
    --fs-h2: clamp(1.2rem, 1vw + 1rem, 1.4rem);
    --fs-body: clamp(1rem, 1vw + 1rem, 1.4rem);
    --fs-button: clamp(1.4rem, 1vw + 1rem, 1.4rem);
    --fs-select: clamp(1.2rem, 1vw + 1rem, 1.4rem);
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: var(--fs-body);
    line-height: 1.5;
    height: 100vh;
    width: 100%;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.hide {
    display: none;
}

.show {
    display: block;
}

/* Typography */
h1, h2, h3, .select {
    font-family: 'Montserrat', sans-serif; 
    line-height: 1.2;
    text-align: center;
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    text-transform: uppercase;
    font-size: var(--fs-h2);
    text-align: left;
}

/* Header */
header {
    width: 100%;
    padding: 1.4em 2em;
}

.header {
    flex: 1;
    background-color: var(--clr-main);
    border-radius: 0 0 20px 20px;
    color: var(--clr-white);
    box-shadow: 0 10px 25px var(--clr-medium-shadow);
}

.header_transparent {
    background-color: transparent;
    flex: 0;
}

.header__logo > img {
    width: clamp(150px, 50% + 1px, 250px);
    height: auto;
    align-self: flex-start;
}

.header h1 {
    max-width: 600px;
    text-align: center;
    margin: 1em auto;
}

/* Main */
.main {
    flex: 2;
} 

form {
    height: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.form__select_wrapper {
    text-align: center;
    width: 100%;
}

.form__select {
    background-color: var(--clr-light);
    margin: 1.2em 0;
    border: none;
    border-right: .5em solid transparent;
    border-radius: 8px;
    font-weight: 600;
    color: var(--clr-dark);
    font-size: var(--fs-select);
    letter-spacing: 2px;
    padding: 1em .5em;
    text-align: center;
    width: 80%;
}

.btn_search {
    background-color: var(--clr-main);
    width: 5rem;
    height: 5rem;
    aspect-ratio: 1 / 1;
    padding: clamp(1em, 25px, 1.4em); 
    margin-bottom: 1.4em;
    border: none;
    border-radius: 50%;
}

.btn_search:hover {
    opacity: .8;
}

.form__element--show {
    display: block;
}

.form__element--hide {
    display: none;
}

/* Form media queries */
@media (min-width: 600px) {
    .form__select {
        width: 60%;
    }
}

@media (min-width: 1000px) {
    .form__select_wrapper {
        width: 80%;
    }
    .form__select {
        width: 50%;
    }

    .btn_search {
        margin-bottom: 2em;
    }
}

/* Journey  */
/* .journey { */
    /* flex-direction: column; */
    /* align-items: flex-start; */
    /* justify-content: center; */
    /* height: 100%; */
/* } */

.journey_wrapper {
    position: relative;
    /* top: calc(20% - 1px); */
    /* right: calc(10% - 1px); */
    left: calc(10% - 1px);
    width: 80%;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    justify-content: space-evenly;
    display: flex;
}

.journey_show {
    display: block;
}

.journey_hide {
    display: none;
}

.journey__instructions {
    font-size: var(--fs-body);
}

.journey__line {
   background-color: var(--clr-dark);
   position: absolute;
   left: calc(20% - 1px);
   width: 6px;
   top: 0;
   left: 0;
   animation: top-to-bottom 1s linear forwards;
}

@keyframes top-to-bottom {
    0% {
        height: 0;
        transform: translateX(0);
    }

    100% {
        height: 100%;
        transform: translateX(100%);
    }
}

.journey__content {
    padding: 1em;
    margin-left: 2em;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

 .journey__marker {
    background-color: var(--clr-white);
    border: 4px solid var(--clr-accent);
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    position: absolute;
    animation: journey-content 1s ease-in forwards;
} 

.journey__station,
.journey__instructions {
    animation: journey-content 1s ease-in forwards;
}

@keyframes journey-content {
    0% {
        opacity: 0;
        left: -100%;
    }

    100% {
        opacity: 1;
        left: 0;
    }
}

.journey__box {
    border-radius: 20px 20px 0 0;
    background-color: var(--clr-light);
    padding: 1em 2em;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 10px 25px var(--clr-medium-shadow);
}

/* Reset button */
.btn_reset {
    background-color: var(--clr-accent);
    font-size: var(--fs-button);
    padding: .8em 1.8em;
    margin-top: 1rem;
    border: none;
    border-radius: 30px;
    color: var(--clr-white);
}

.btn_reset:hover{
    opacity: .8;
}

